{% extends 'base.html' %}
{% block content %}
    <section>
        <h2>나의 주문내역</h2>
        <div>
            <br>
            <h5>날짜별 주문내역 조회</h3>
                <p>하이픈 '-'을 포함해 연도-월-일 순으로 조회해주세요.
                    <br>ex) 2021-01-01
                </p>
            <form action="{% url 'order:search_order' %}" method="POST">
                {% csrf_token %}
                시작 날짜 : <input type="date" value="{{minDate|default:'2021-01-01'}}" name="minDate" required>
                <br>마지막 날짜 : <input type="date" value="{{maxDate|default:'2021-12-31'}}" name="maxDate" required>
                <input type="submit" value="검색">
            </form>
        </div>
        <div>
            {% for order in orders %}
            <br>
            <div sytle="margin:30px; border:solid">
                <p><strong><a href="{% url 'order:order_detail' order.id %}">주문 번호 : {{order.id}}</a></strong></p>
                <p>수량 : {{order.total_quantity}}</p>
                <p>총액 : {{order.total_price}}</p>
                <p>배송비 : {{order.total_shipping_fee}}</p>
                <p>주문 날짜 : {{order.date_added}}</p>
                <p>배송지 : {{order.shipping_address}}</p>
                <p>주문 상태 : {{order.order_state}}</p>
                {% if order.order_state == 'pay_complete' %}
                    <button>문의하기</button>
                {% elif order.order_state == 'shipping' %}
                    <button>문의하기</button>
                {% elif order.order_state == 'shipping_complete' %}
                    <button>구매확정</button>
                {% elif order.order_state == 'order_complete' %}
                    <button>상품평</button>
                {% endif %}
            </div>
            <br>
            {% endfor %}
        </div>
    </section>
{% endblock %}