{% extends 'base.html' %}
{% block content%}
<section>
    {% if not order_items %}
        <div>
            <br>
            <h1>
                주문할 물품이 없습니다.
            </h1>
            <br>
            <p>
                다시 시도해주세요.
            </p>
        </div>
    {% else %}
        <div>
            <br>
            <h1>Order List</h1>
        </div>
        <div>
            <h3>주문번호 : {{order_id}}</h3>
        </div>
        <div>
            <table>
                <thread>
                    <tr>
                        <th>
                            your items
                        </th>
                    </tr>
                </thread>
                <tbody>
                    {% for order_item in order_items %}
                    <tr>
                        <td>
                            <br>
                            {{order_item.product.name}}
                            <br>가격 : {{order_item.product.price}}
                            <br>수량 : {{order_item.quantity}}
                            <br>상품 총액 : {{order_item.product.price}} * {{order_item.quantity}} : {{order_item.sub_total}}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        your total is : <strong>{{total}}</strong>
                    </tr>
                </tbody>
            </table>
            <br><br><br>
            
            <form action="{% url 'order:pay' %}" method="POST">
                {%csrf_token%}
                <label>배송지 선택 : </label>
                <select name="address_selec">
                    {% for address in shippings %}
                        <option value={{address.id}}>{{address.title}} : {{address.road_address}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button type="submit">결제하기</button>
            </form>

            <form action="{% url 'order:pay' %}" method="POST">
                {%csrf_token%}
                <button type="submit">테스트 결제하기</button>
            </form>
            
            {% endif %}
        <br><br><br><br>
    </section>
{% endblock %}