{% extends 'base.html' %}
{% block content %}
<section>
<div>
<h3>기본배송지 선택</h3><br> 

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">title</th>
        <th scope="col">우편번호</th>
        <th scope="col">도로명주소</th>
        <th scope="col">받으시는 분</th>
        <th scope="col">연락처</th>
        <th scope="col"></th>
       

      </tr>
    </thead>
    <form action="{% url 'create_default_save' %}" method="POST">
      {%csrf_token%}
    {% for address in shippings %}
    <tbody>
      <tr>
        <td> <label for="is_default"><input type = "radio" name ="is_default" value="{{address.pk}}"></label></td>
        
        <th scope="row">{{address.title}}</th>
        <td>{{address.post_num}}</td>
        <td>{{address.road_address}}</td>
        <td>{{address.post_name}}</td>
        <td>{{address.post_phonenum}}</td>
        
        
    </tbody>
    {%  endfor %}
 

</table>
<input class="btn btn-dark" type="submit" value="save">
</form>
</div>

</section>
{% endblock %}
