{% extends 'base.html' %}
{% block content %}
<section>

<br>

<div class="container">
	<form action="{% url 'editsave'%}" method="POST">
        {%csrf_token%}
  
	<h6>배송지 별칭 </h6>
	<input type="text" name="title" id='title' value="{{u_address.title}}"> 


    <div class="col-md-3">
      <label for="inputEmail4" class="form-label">우편번호</label>
      <input
      type="text"
      class="form-control"
      name="post_num"
      id="postcode"
      placeholder="우편번호"
      value="{{u_address.post_num}}"
    />
    </div>
    <div class="col-md-3 postcode-btn">
        <input class="btn btn-dark" type="button"  value="우편번호찾기" onclick="execDaumPostcode()">
        
      </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">도로명주소</label>
      <input
      type="text"
      class="form-control"
      name="road_address"
      id="address"
      placeholder="도로명 주소"
      value="{{u_address.road_address}}"
   
    />
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">상세 주소</label>
      <input
      type="text"
      class="form-control"
      name="detail_address"
      placeholder="상세 주소"
      required
      value="{{u_address.detail_address}}"
      
    />
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">받으시는 분</label>
      <input type="text" class="form-control" id="inputAddress2" >
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">연락처</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
   

   
   

  <input class="btn btn-dark" type="submit" value="save">
</form>
</div>
<br><br><br><br>

</section>
{% endblock %}