{% extends 'base.html' %}
{% block content %}
    <section>
        {% if user.is_authenticated %}
            {{user.username}}
            <button type="submit"><a href="{% url 'logout'%}">logout</a></button>
        {% else %}
            <article>
            <form action="{% url 'join' %}" method="post">
                {%csrf_token%}

                <div class="mb-3 row">
                    <label for="inputId" class="col-sm-2 col-form-label">ID</label><br>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="id1" name="new_user_id">
                    </div>
                </div>
                
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="password1" name="new_user_pw">
                    </div>
                    <p>* 비밀번호 생성 조건 : 8자 이상, 특수기호 최소 1자 이상 포함</p>
                </div>

                <div class="mb-3 row" >
                    <label for="inputname" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="name" name="new_user_name">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="exampleFormControlInput1" class="form-label">Email address : </label>
                    <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="email.@example.com" name="new_user_email">
                </div>
                <br><br>
                <p>phone(하이픈 '-'은 빼고 입력해주세요) : <input type="text" name="new_user_phone"></p>
                <!--{{form.as_p}}-->
                <button type="submit">submit</button>
            </form>
            </article>
        {% endif %}
    </section>
{% endblock %}