{% extends 'base.html' %}
{% block content %}
    <section>
        <article class="banner">
            {% for noti_info in noti_info %}
                <div class="imgMax">
                    <a href="{% url 'notice:show_notice' noti_info.noti_event_id %}"><img src="{{ noti_info.images.url }}" width="800" alt="{{ noti_info.title }}"></a>
                </div>
            </div>
            {% endfor %}
            {% if noti_info.has_previous %}
            <a href="?page={{noti_info.previous_page_number}}">previous</a>
            <a href="?page=1">1</a>
            {% endif %}
            <span>{{noti_info.number}}</span>
            {% if noti_info.has_next %}
            <a href="?page={{noti_info.paginator.num_pages}}">{{noti_info.paginator.num_pages}}</a>
            <a href="?page={{noti_info.next_page_number}}">next</a>
            {% endif %}
            <div>
                <br>
                <div style="clear:both;"><h3>최근 등록상품 top 3</h3></div>
                <table>
                    <tr>
                        {% for products_recent in products_recent %}
                        <td>
                            <div style="width: 300px;  display: inline; float: left;">
                                <img class="card-img-top" src="{{products_recent.thumbnail.url}}" alt="Product Image" sytle="width:33%;">
                                <a href="{% url 'products:detail' products_recent.product_id %}">{{products_recent.name}}</a>
                                <br>{{products_recent.price}}
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
                
                <br>
                
                <br>
                
            </div>
            <div>
                <br>
                <div style="clear:both;"><h3>인기 상품 top 3</h3></div>
                <table>
                    <tr>
                        {% for products_popular in products_popular %}
                        <td>
                            <div style="width: 300px; float: left;">
                                <img class="card-img-top" src="{{products_popular.thumbnail.url}}" alt="Product Image" sytle=" width : 100px;">
                                <a href="{% url 'products:detail' products_popular.product_id %}">{{products_popular.name}}</a>
                                <br>{{products_popular.price}}
                                <br>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
                
                <br>
                
                
            </div>
            <br><br><br>
        </article>
        {% if user.is_superuser %}
        welcome! {{user.username}}
        <br>관리자입니다.
        <br><a href="{% url 'admin:index' %}">관리자 페이지로 이동 하기</a>
        <br><button type="submit"><a href="{% url 'logout'%}">logout</a></button>
        <br>
        {% elif user.is_authenticated %}
        welcome! {{user.username}}
        <div class='mypage'>
        
            <a href="{% url 'myPage' %}">마이페이지</a> | <a href="{% url 'cart:cart_detail'%}">장바구니</a> | <a href="{% url 'logout'%}">로그아웃</a>

        </div>
        {% else %}
        <article class="login">
            <form class="loginForm" action="{% url 'userMain' %}" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="loginB">login</button>
                <br><a href="{%url 'join'%}">go signUp</a>
            </form>
        </article>
        {% endif %}
    </section>
{% endblock %}