{% extends 'base.html' %}
{% block content%}
<section>
    this is question_list.htm ldd
    <table class="table">dd
        <thead>
          <tr>
            <th scope="col">type</th>
            <th scope="col">title</th>
            <th scope="col">content</th>
           
    
          </tr>
        </thead>
     
        {% for question in get_questions %}
        <tbody>
          <tr>
            <th scope="col">{{question.q_category}}</th>
            <td>{{question.title}}</td>
            <td>{{question.content}}</td>
            </tr>
        </tbody>
        {% endfor %}
          </table>
          
</section>
{% endblock %}