{% extends 'base.html' %}
{% block content%}
<section>
    
    <a href="{% url 'question:postquestion_view' %}">고객문의</a>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">상품명</th>
            <th scope="col">type</th>
            <th scope="col">title</th>
            <th scope="col">content</th>
            <th scope="col">답변여부</th>
           
    
          </tr>
        </thead>
        
        {% for my_questions in posts %}
         
        <tbody>
          <tr>
            <th scope="col"><a href="{% url 'question:question_detail_view' my_questions.pk%}">{{my_questions.product_name}}</a></th>
            <td>{{my_questions.q_category}}</td>
            <td>{{my_questions.title}}</td>
            <td>{{my_questions.content}}</td>
            {%if my_questions.is_checked%}  
            <td>등록</td>
            {%else%}
            <td>미등록</td>
            {%endif%}
               
            </tr>
        </tbody>
        {% endfor %}
        </table>
        <div class="row mt-2">
          <div class="col-12">
              <nav>
                {% if posts.has_previous %}
                <a href="?page={{posts.previous_page_number}}">previous</a>
                <a href="?page=1">1</a>
                {% endif %}
                <span>{{posts.number}}</span>
                {% if posts.has_next %}
                <a href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a>
                <a href="?page={{posts.next_page_number}}">next</a>
                {% endif %}
                  </ul>
              </nav>
          </div>
      </div>
</section>
{% endblock %}