{% extends 'base.html' %}
{% block content %}
    <section>
        this is detail.html
        <div class="flex-container">
    
            <div id="product_num1">
                {%for product in product_get %}
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            {% for photo in product.photo_set.all %}
                            <img class="card-img-top" src="{{product.image.url}}" alt="Product Image">
                            {% endfor %}
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.description}}<br>{{product.price}}</p>

                                <form action="{% url 'cart:detail_add_cart' product.product_id%}" method="POST">
                                    수량 : <input type="text" name="detail_quantity">
                                    <button>장바구니 담기</button>
                                </form>
                                <br> 바로구매
                                <br> 배송지 선택
                            </div>
                        </div>
                    </div> 
                    {% endfor %}   
                             
                </div>
                </div>
            </div>
            
            </section>
{% endblock %}