{% extends 'base.html' %}
{% block content %}
    <section>
        this is detail.html
        <div class="flex-container">
    
            <div id="product_num1">
                {%for product in product_get %}
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            {% for photo in photo_get %}
                            <img class="card-img-top" src="{{photo.image.url}}" alt="Product Image">
                            {% endfor %}
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.description}}
                                    <br>가격 : {{product.price}}</p>
                                <p>배송비 : {{product.shipping_fee}}</p>
                                <form action="{% url 'cart:detail_add_cart' product.product_id%}" method="POST">
                                    수량 : <input type="text" name="detail_quantity">
                                    <button onclick="button1_click();">장바구니 담기</button>
                                </form>
                                <form action="{% url 'order:direct_pay' product.product_id%}" method="POST">
                                    수량 : <input type="text" name="detail_quantity">
                                    <button>바로 구매</button>
                                </form>
                                
                                <br><a href="{% url 'create_default' %}">배송지선택</a>
                                <br><a href="{% url 'products:review_board'  product.product_id%}">review</a>
                               
                               
                            </div>
                        </div>
                    </div> 
                    {% endfor %}   
                <script>
                    function button1_click() {
                        alert('장바구니에 담겼습니다.')
                    }
                </script>
                </div>
                </div>
                <br><br><br><br><br>
            </div>
            
            </section>
{% endblock %}