{% extends 'base.html' %}
{% block content%}
<section>
  

    <table class="table">
    {%for product in product_get %}
    상품명:
     
    {{product.name}}
    {{p_avg_score.total_score__avg|floatformat}}
        <thead>
            
          <tr>
            <th scope="col">평가</th>
            <th scope="col">shipping</th>
            <th scope="col">content</th>
            <th scope="col">r_user_id</th>
            <th scope="col">총점</th>
            <th scope="col">update</th>
          </tr>
        </thead>
       
        {% for my_reviews in r_posts %}
         
        <tbody>
          <tr>
            <th scope="row">{{my_reviews.r_stage}}</th>
            <td>{{my_reviews.shipping_score}}</td>
            <td>{{my_reviews.r_content}}</td>
            <td>{{my_reviews.r_user_id|truncatechars:3}}</td>
            <td>{{rmy_reviews.total_score}}</td>
            <td>{{my_reviews.update_at}}</td>
            {%  endfor %}
           
          
        
            
        </tbody>
       
        {%  endfor %}
    </table>

    <div class="col-12">
      <nav>
        {% if r_posts.has_previous %}
        <a href="?page={{r_posts.previous_page_number}}">previous</a>
        <a href="?page=1">1</a>
        {% endif %}
        <span>{{r_posts.number}}</span>
        {% if r_posts.has_next %}
        <a href="?page={{r_posts.paginator.num_pages}}">{{r_posts.paginator.num_pages}}</a>
        <a href="?page={{r_posts.next_page_number}}">next</a>
        {% endif %}
          </ul>
      </nav>
  </div>
</div>
<br><br><br><br>
</section>
{% endblock %}