{% extends 'base.html' %}
{% block content %}
    <section>
        <form action="{% url 'products:search' %}" method="get">
            <input type="text" value="{{category}}" readonly name="search_cateogry">
            <br>상품명으로 검색 : <input type="text" name="search_name">
            <br>최소 가격 : <input type="text" name="search_min">
            <br>최대 가격 : <input type="text" name="search_max">
            <br><button type="submit">submit</button>
        </form>
        <div id="product_num1">
            {{msg}}<br>
            검색 카테고리 : {{category}}<br>
            검색어 : {{search_name}}<br>
            최소 가격 : {{min}}<br>
            최대 가격 : {{max}}<br>
            {%for product in products %}
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="{{product.thumbnail.url}}" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}}<br>{{product.price}}</p>
                            <a href="{%url 'products:detail' product.product_id%}">view detail</a>
                        </div>
                    </div>
                </div> 
                {% endfor %}   
                         
            </div>
            </div>
        </div>    <br><br><br><br>

            </section>
{% endblock %}