{% extends 'base.html' %}
{% block content %}
    <section>
        <form action="{% url 'products:search' %}" method="get">
            <input type="text" value="{{category}}" readonly name="search_cateogry">
            <br>상품명으로 검색 : <input type="text" name="search_name">
            <br>최소 가격 : <input type="text" name="search_min">
            <br>최대 가격 : <input type="text" name="search_max">
            <br><button type="submit">submit</button>
        </form>
            <div class="flex-container">
    
                <div id="product_num1">
                    {%for product in products_category %}
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <img class="card-img-top" src="{{product.image.url}}" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{%url 'products:detail' product.product_id%}">{{product.name}}</a></h5>
                                    <p class="card-text">가격 : {{product.price}}</p>
                                </div>
                            </div>
                        </div> 
                        
                                 
                    </div><br><br><br>
                    {% endfor %}   
                    </div>
                </div> 
                <br><br><br>
            <br><br><br>

            </section>
{% endblock %}